{% if ARCH == "x86_64" %}
<or>
  <hostname op="=" value="hpe-xl220agen8v2-01.hpe2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="hpe-xl220agen8v2-02.hpe2.lab.eng.bos.redhat.com"/>
</or>
{% endif %}
